<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        @page {
            size: ${width}px  ${height}px;
        }

        html, body,a {
            font-family: 'simsun', serif;
        }
        /*.boss div{*/
        /*    width: 400px;*/
        /*    float: left;*/
        /*}*/
        /*.boss div img{*/
        /*    display: block;*/
        /*    width: 100%;*/
        /*}*/
    </style>
</head>
<body >
<!--<img src="logo.jpg" />-->
<div class="boss">
    <div><img src="${imageSrc}"/></div>
<!--    <div><img src="${imageSrc}"/></div>-->
</div>
<div><a>${content}</a></div>
</body>
</html>